
## Domain Specific

.idea/
.vscode/

efforts/

epics_catalog\.md

basket.zip

\.github/copilot-instructions\.md


## Common development temporary artifacts

*.egg-info/
*.pyc
*\.bak
\.fuse*
.coverage
.DS_Store
*__pycache__

.tox/
node_modules/
dist/

public/
public-lab/

data/logs/