
## Domain Specific

.idea/
.vscode/

efforts/

epics_catalog\.md

basket.zip

\.github/copilot-instructions\.md


## Common development temporary artifacts

*.egg-info/
*.pyc
*\.bak
\.fuse*
.coverage
.DS_Store
*__pycache__

.tox/
node_modules/
dist/

public/
public-lab/

data/logs/

e2e/cypress/e2e/zzzz-examples
season-2015-investigation/
data/season_sync_failures_E2026.json

# pbp is not consumed by Frontend
data/raw/raw_pbp_*.json

# box is consumed by the 2D shot chart currently only rendered in Lab, not in App
data/raw/raw_box_*.json
